.container {
    margin-top: 2rem;
}

.container h1 {
    text-align: center;
}

.form {
    padding-top: 1rem;
    width: 80%;
    margin: auto;
}

.button {
    display: flex;
    justify-content: center;
}